{% extends 'base.html' %}
{% block title %}
  Admin Page
{% endblock %}

{% block content %}
{% if current_user.id == 3%}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for user in Users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Password_hash }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">Edit Info</button>
                        <a href="{{ url_for('account_page', id=user.id) }}"><button class="btn btn-outline btn-success">View Account</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
            <div class="p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">FinKit Limited</h1>
                <p class="lead font-weight-normal">You are not authroised to view this page</p>
                <a class="btn btn-primary" href="{{ url_for('home_page') }}">back to homepage</a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
{% endif %}
{% endblock %}