{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">AccountType</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for account in Accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.FirstName }}</td>
                    <td>{{ account.LastName }}</td>
                    <td>{{ account.Email }}</td>
                    <td>{{ account.Username }}</td>
                    <td>{{ account.AccountType }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">Edit Info</button>
                        <button class="btn btn-outline btn-success">View Account</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}